---
# Overrides for reveal styles
---

$blue: #01A9B4;
$green: #92BB44;
$yellow: #EDAB23;
$pink: #F05B62;
$red: #8B0036;

.reveal {
    h1, h2, h3, h4, h5, h6 {
	text-transform: inherit;
    }
    strong { color: $green; }
    code { color: $yellow; }
    pre {
	padding: 10px;
	font-size: 1em;
	width: 100%;
	max-height: 480px;
	&.narrow {
	    width: 70%;
	}
	background-color: #222;
	overflow: auto;
	code { color: white; }
    }
    .slide-number { bottom: inherit; right: inherit; top: 15px; left: 15px; font-size: 1.0em; }
    .small {font-size: 80%;}
    .go-wide, .gowide { max-width: none; }
}

.title-image img { width: 200px; }
.notes { display: none; }
.no-wrap, .nowrap { white-space: nowrap; }
div.box {
    clear: both;
    margin: 20px;
    padding: 20px;
    border: 1px solid #01A9B4;
    background-color: #eee;
    color: #01A9B4;
    text-align: center;
    border-radius: 15px;
}
