---
# Overrides for reveal styles
---

$blue: #01A9B4;
$green: #92BB44;
$yellow: #EDAB23;
$pink: #F05B62;
$red: #8B0036;

$wide-width: 900px;


.reveal {
  h1, h2, h3, h4, h5, h6 {
    text-transform: inherit;
  }
  strong { color: $green; }
  code { color: $yellow; }
  pre {
    padding: 10px;
    /* font-size: 0.6em; */
    width: 100%;
    max-height: 480px;
    &.narrow {
      width: 70%;
    }
    background-color: #222;
    overflow: auto;
    code { color: white; }
  }
  .slide-number { bottom: inherit; right: inherit; top: 15px; left: 15px; font-size: 1.0em; }
  .small {font-size: 80%;}
  .go-wide, .gowide { width: $wide-width; }
  .left-align {
    text-align: left;
    h1, h2, h3, h4, h5, h6 { text-align: center; }
  }
  .hide-gif { text-align: center; font-size: 50%; font-style: italic; margin: 10px; cursor: pointer; text-decoration: underline;}
  .vertical-space {
    margin-top: 1.2em * 2;
  }
  .visually-hidden {
    display: none;
  }
  .notes { display: none; }
  .two-up {
    width: 100%;
    .left {
      float: left;
      width: 47%
    }
    .right {
      float: right;
      width: 47%
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .title-image img { width: 200px; }
  .no-wrap, .nowrap { white-space: nowrap; }
  div.box {
    clear: both;
    margin: 20px;
    padding: 20px;
    border: 1px solid #01A9B4;
    background-color: #eee;
    color: #01A9B4;
    text-align: center;
    border-radius: 15px;
  }

}


.reveal {
  .centered-table {
    display: table;
    width: 70%;
    margin: 10px auto;
  }
  .table-row {
    display: table-row;
    width: 100%;
    padding: 3px;
  }
  .table-cell-right, .table-cell-left {
    display: table-cell;
    padding: 6px;
    width: 40%;
  }
  .table-cell-right {
    text-align: right;
  }
  .table-cell-left {
    text-align: left;
  }
  .table-cell-center {
    text-align: center;
  }

  .table {
    border: 1px solid white;
    border-collapse: collapse;
    margin: auto;
    th {
      color: gold;
      font-weight: bold;
      border: 1px solid white;
      padding: 10px;
    }
    td {
      text-align: center;
      border: 1px solid white;
      padding: 10px;
    }
  }

}
