---
layout: slide
logo: images/gdi_logo_badge.png

---

%section
  .title-image
    %img{src: "{{page.logo}}"}

  %h2= "{{site.title}}"

  = "{{site.description}}"

  .centered-table
    .table-row
      .table-cell-right Instructor:
      .table-cell-left
        %a{href: "mailto:{{site.data.instructor.email}}"}
          {{site.data.instructor.name}}
    .table-row
      .table-cell-right Github:
      .table-cell-left
        %a{href: "https://github.com/{{site.data.instructor.github}}"}
          {{site.data.instructor.github}}
    .table-row
      .table-cell-right Twitter:
      .table-cell-left
        %a{href: "https://github.com/{{site.data.instructor.twitter}}"}
          {{site.data.instructor.twitter}}

%section
  %h3 Moving through the slides:
  %ul
    %li
      %code space
      move to next slide
    %li
      %code shift-space
      move back a slide
    %li
      %code o
      overview

%section
  %h3 Links
  %ul
    %li
      %a{href: "{{'/' | relative_url }}", target: "_blank"} Slides
    %li
      %a{href: "{{ '/pring' | relative_url}}", target: "_blank"} Printed Notes
    %li
      %a{href: "{{ site.data.links.long_urls.files.url }}", target: "_blank"} Project Files
    %li
      %a{href: "https://gdimpls.slack.com/messages/stylinwithsass/", target: "_blank"} #StylinWithSass@gdimpls.slack.com
