---
layout: slide

---

%section
  %h3 Compile With Sass Watch Command

  .fragment
    We need to compile our .scss (Sass) files to make the CSS work in the browser.
    %hr

  %ol
    %li.fragment
      At the command prompt in the
      %code practice/
      folder, run the command:

      %pre
        %code.sass.css sass --watch stylesheets/scss:stylesheets/css

    %li.fragment
      Refresh Your Browser

  .fragment
    %hr
    How does that look now?
