---
layout: slide
title: "Let's Develop It! - Variables"
---

%section

  %h3 {{page.title}}

  .left-align.go-wide

    %ol
      %li.fragment
        Create a new Sass stylesheet called
        %code _settings.scss
        %ul
          %li.fragment The underscore at the beginning is important
      %li.fragment
        Put it in the right folder!
        %ul
          %li.fragment
            It should go in
            %code stylesheets/scss/
      %li.fragment
        Import your new stylesheet into
        %code styles.scss
        with
        %code @import "settings";
        %ul
          %li.fragment
            Leave the underscore
            %em off
            in the
            %code @import
            statement
      %li.fragment
        Find things that can be turned into variables in your styles.scss
        file, and make them variables in the
        %code _settings.scss
        file
      %li.fragment
        One of the best things to start with are the colors

    .fragment
      You may find that working in a split screen makes this a lot easier.
