---
layout: slide
title: "Let's Develop It!"
---

%section
  %h2 {{page.title}}

  %ol
    %li.fragment
      Write a math expression in Sass to calculate the width of elements
      in your page layout instead of declaring a number explicitly
    %li.fragment
      Use variables to represent the results of your calcuation
    %li.fragment
      Write them in
      %code _settings.scss

    %li.fragment
      Ensure your
      %code sass
      command is still running,
      and refresh your page.
