---
layout: slide
title: "Using Webpack -- Modern Website Development"
webpack:
  url: https://webpack.github.io
  title: WebPack.JS
  text: Webpack

---
<div class="left-align">

  <p>
    {% include link.html link=page.webpack %}
    is the rising star in modern website development and can manage
    many dialects of JavaScript, HTML, Haml, CSS, Sass, SCSS, images,
    and just about anything else because all the work is managed
    by <span class="green">plugins</span>.
  </p>

  <p class="fragment">
    However,
    {% include link.html link=page.webpack %}
    is also quite complex to configure, and for starting out it might
    be better to use one of the others, or use a starter kit.
  <p>

</div>
