---
layout: slide
title: CodeKit
codekit_link:
  text: Codekit
  url: https://incident57.com/codekit/
  title: "Download CodeKit for Mac"

---

<section class="left-align">

  <h2>{{page.title}}</h2>

  <ul>
    <li>
      For Mac users who want to avoid the command line,
      {% include link.html link=page.codekit_link %}
      is highly recommended.
    </li>

    <li>
      It can be used to compile everything you'd need for a static web
      site or a JavaScript-driven single page app and more.
    </li>

    <li>
      It is not, however, free, like many of the other task runners /
      builders.
    </li>

    <li>
      For what it does, it's relatively inexepensive.
    </li>
  </ul>

  <h3 class="vertical-space">Download {% include link.html link=page.codekit_link %} for Max OSX.</h3>

</section>
