<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>

  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">
  <meta name="keywords" content="{{site.keywords | join: ", "}}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.min.css">
  <link rel="stylesheet" href="http://gdimpls.s3.amazonaws.com/reveal.js/css/theme/gdidefault.css">

  <link rel="stylesheet" href="{{ '/css/overrides.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/syntax_styles.css' | relative_url }}">
  <link rel="stylesheet"
	href="{{ '/css/font-awesome.css' | relative_url }}">

</head>
